.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
  }
  
  .form {
    background-color: rgb(148 65 117 /.05);
    border: 2px solid #944175;
    width: 800px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 16px;
  }

  .form h4 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .form .field-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0;
  }

  .form .field-container input {
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #944175;
    background-color: #121212;
  }

  .form .field-container input:hover {
    border-color: #d361a9;
  }

  .form button {
    margin-top: 8px;
    align-self: center;
    background: #944175;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #fff;
    transition: 150ms ease-in-out;
  }

  .form button:hover {
    background-color: #d361a9;
    cursor: pointer;
    scale: 1.1;
  }

  .form button:disabled {
    background-color: #919191;
    color: #d4d4d4;
  }

  .form button:disabled:hover {
    scale: 1;
    cursor: default;
  }

  .form .message-box {
    padding: 16px;
    background-color: #121212;
    border-radius: 8px;
    border: 2px solid #944175;
    min-height: 8rem;
    height: 8rem;
    max-height: 16rem;
  }

  .form .message-box:hover {
    border-color: #d361a9;
  }

  .form .form-description {
    font-size: .9rem;
  }
  
  .error {
    color: #ff375f;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
  }
  
  .success {
    color: rgb(43, 136, 43);
    background-color: rgb(195, 209, 195);
    padding: 4px 8px;
    border-radius: 8px;
    align-self: center;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
  }

  #contacto h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .form {
      width: 650px;
    }

    #contacto h3 {
      margin-bottom: 1rem;
    }

    .form h4 {
      font-size: 1.5rem;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 640px) {
    .form {
      width: 350px;
    }
  }