<footer class=" bg-blue-950/20 backdrop-blur-sm w-full px-4 grid grid-cols-2 gap-4 lg:flex lg:justify-evenly lg:items-center py-6 border-t-2 border-t-violet-primary">
  <div class="col-start-1 col-end-3 md:flex flex-col gap-2">
    <h5 class="font-semibold text-violet-primary">Información de Contacto</h5>
    <ul class="flex flex-col gap-1 ">
      <li><span class="font-semibold">Dirección:</span> Calle Gamer 123, 2ºB, 15001, A Coruña</li>
      <li><span class="font-semibold">Teléfono:</span> +34 981 123 456</li>
      <li><span class="font-semibold">Correo electrónico:</span> contacto@galiciagamers.com</li>
      <li><span class="font-semibold">Horario de atención:</span> Lun a Vie de 09:00 - 18:00</li>
    </ul>
  </div>
  <div class="flex flex-col gap-2">
    <h5 class="font-semibold text-violet-primary">Navegación</h5>
    <ul class="flex flex-col gap-1 ">
      <li>
        <a href='#proceso'>Proceso</a>
      </li>
      <li>
        <a href='#galeria'>Galería</a>
      </li>
      <li>
        <a href='#opiniones'>Opiniones</a>
      </li>
      <li>
        <a href='#contacto'>Contacto</a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-2">
    <h5 class="font-semibold text-violet-primary">Nuestras Redes</h5>
    <ul class="flex flex-col gap-1 ">
      <li>
        <a href='#'>Instagram</a>
      </li>
      <li>
        <a href='#'>X</a>
      </li>
      <li>
        <a href='#'>Facebook</a>
      </li>
      <li>
        <a href='#'>TikTok</a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-2">
    <h5 class="font-semibold text-violet-primary">Legales</h5>
    <ul class="flex flex-col gap-1 ">
      <li>
        <a href='#'>Política de privacidad</a>
      </li>
      <li>
        <a href='#'>Términos de servicio</a>
      </li>
      <li>
        <a href='#'>Aviso legal</a>
      </li>
      <li>
        <a href='#'>Política de cookies</a>
      </li>
    </ul>
  </div>
</footer>

<style>
  a {
    display: inline-block;
    transition: 100ms ease-in-out;
  }

    a:hover {
        color: pink;
        scale: 1.08;
    }
</style>