<header id='header-nav' class='fixed w-screen flex justify-center py-6 z-10'>
  <nav>
    <ul class='flex mx-auto gap-48 uppercase font-medium text-white/75'>
      <li class='hover:text-white hover:scale-125 transition-all cursor-pointer'>
        <a href='#proceso'> Proceso </a>
      </li>
      <li class='hover:text-white hover:scale-125 transition-all cursor-pointer'>
        <a href='#galeria'> Galería </a>
      </li>
      <li class='hover:text-white hover:scale-125 transition-all cursor-pointer'>
        <a href='#opiniones'> Opiniones </a>
      </li>
      <li class='hover:text-white hover:scale-125 transition-all cursor-pointer'>
        <a href='#contacto'> Contacto </a>
      </li>
    </ul>
  </nav>
</header>
