---
import Calendar from "../../public/Icons/Calendar.svg";
import Checklist from "../../public/Icons/Checklist.svg";
import Shield from "../../public/Icons/Shield.svg";
import Speaker from "../../public/Icons/Speaker.svg";
import ProcessCard from "./ProcessCard.astro";
---

<section id="proceso" class='mt-12 lg:mt-24 flex flex-col'>
  <h2 class='text-4xl md:text-5xl text-center font-bold mb-8 md:mb-12'>Nuestro proceso</h2>
  <div class='w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4'>
    <ProcessCard
      icon={Calendar}
      title='Planificación Detallada'
      text='Analizamos tus necesidades y diseñamos un plan estratégico para garantizar el éxito de tu torneo.'
    />
    <ProcessCard
      icon={Checklist}
      title=`Gestión Integral`
      text='Nos encargamos de todos los aspectos logísticos, desde la selección del lugar hasta la configuración técnica.'
    />
    <ProcessCard
      icon={Speaker}
      title='Promoción y Cobertura'
      text='Utilizamos nuestras plataformas y redes sociales para promocionar tu torneo y asegurar una amplia participación.'
    />
    <ProcessCard
      icon={Shield}
      title='Soporte en Vivo'
      text='Proveemos soporte técnico en tiempo real durante el evento para asegurar que todo funcione a la perfección.'
    />
  </div>
</section>
