---
import ObjectionBlock from "./ObjectionBlock.astro";
---

<section class=" flex flex-col gap-6 md:gap-4">
    <h2 class="text-3xl md:text-5xl text-balance text-center font-bold mb-4 md:mb-12">¡No te preocupes! Cubrimos todas las bases</h2>
  <ObjectionBlock
    title='Infraestructura y Equipamiento'
    text='Nos ocupamos de proporcionar y configurar todo el equipamiento necesario, desde PCs y consolas hasta la red y el escenario.'
  />
  <ObjectionBlock
    title='Registro de Participantes'
    text='Gestionamos el registro de jugadores y equipos, asegurando un proceso fluido y organizado.'
  />
  <ObjectionBlock
    title='Producción y Transmisión'
    text='Producimos y transmitimos en vivo tu torneo, alcanzando una audiencia global.'
  />
  <ObjectionBlock
    title='Premios y Merchandising'
    text='Nos encargamos de los premios y el merchandising, creando una experiencia memorable para los participantes y el público.'
  />
</section>
