---
const { icon, title, text } = Astro.props;
---

<article
data-aos='fade-up'
  class='bg-white/5 backdrop-blur border-2 border-violet-primary/60 rounded-md px-6 md:px-10 py-8 flex flex-col items-center justify-center between gap-4 md:h-[400px]'
>
  <img class='w-16' src={icon.src} loading="eager" alt='' />
  <h4 class='font-bold text-xl text-violet-primary uppercase text-center'>
    {title}
  </h4>
  <p>{text}</p>
</article>
